#post_list
  ul
    list-style: none

    .post_list_item
      border-bottom: 1px solid #d6d6d6

      &:last-child
        border-bottom: 0px

      .post_title
        color: #000000
        font-weight: bold
        font-size: 2.2em
        line-height: 1.25

      .post_meta
        font-size: 1.1em

        .article-tag,
        p
          display: inline

          &:before
            content: "|"

      .post_description
        font-size: 1.2em
